[Desktop Entry]
Name=Xjed
Comment=Xjed Editor
Comment[pl]=Edytor xjed
Icon=xjed
Exec=xjed
Terminal=false
Type=Application
Categories=TextEditor;
# vi: encoding=utf-8
